<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cric_O_Phobia.Properties.Settings.myteamConnectionString"
            connectionString="Data Source=SIDDIQUI\SQLSERVER;Initial Catalog=myteam;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>